.btn{
    font-family: 'Mukta Vaani', sans-serif;
    background-color: #fab342;
    font-size: 20px;
    padding: 3px 4px;
    margin: 3rem;
    margin-left: 45%;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 10%;
}

.btn>a {
    text-decoration: none;
    color: white;
}

.btn:hover {
  background-color: white;
  /* -moz-box-shadow: inset -5px -5px 5px 5px #928f8f;
  -webkit-box-shadow: inset -5px -5px 5px 5px #928f8f; */
  box-shadow:  -3px -3px 3px 3px #928f8f;
}


.btn>a:hover{
    color: #fab342;
}