.fade-in {
    opacity: 0;
    animation: fade-in-animation 1s ease-in-out forwards;
  }
  
  @keyframes fade-in-animation {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  .contact-container {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    padding: 60px;
    background-color: #f9f9f9;
    color: #4d4e4e;
    border-radius: 5px;
    font-family: poppins,Arial,sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h4 {
    font-size: 70%;
    text-align: center;
    margin-bottom: 20px;
    color: #838282;
  }
  
  .contact-form {
    display: grid;
    gap: 20px;
  }
  
  .form-group {
    display: grid;
    gap: 5px;
  }
  
  label {
    font-weight: bold;
    text-align: left;
    font-size: 16px;
    color: #555;
  }
  
  input,
  textarea {
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  
  input::placeholder,
  textarea::placeholder {
    color: #999;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #fab342;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 103%;
    border-radius: 3px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-weight: 550;
  }
  
  button[type="submit"]:hover {
    background-color: #ffffff;
    box-shadow:  -2px -2px 2px 2px #928f8f;
  }
  
  button[type="submit"]:focus {
    outline: none;
  }
  .submit-button {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: white;
    color: #fab342;
    font-weight: 550;
  }
  

  @media screen and (max-width:1000px) {
    h4 {
      font-size: 40%;
      text-align: center;
      margin-bottom: 20px;
      color: #838282;
    }

    .contact-container {
      max-width: 70%;
      margin: 0 auto;
      margin-top: 40px;
      padding: 60px;
      background-color: #f9f9f9;
      color: #4d4e4e;
      border-radius: 5px;
      font-family: poppins,Arial,sans-serif;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}
  