.oppinfo{
    /* border: 2px solid rebeccapurple; */
    width: 55%;
    margin: auto;
}

.oppimg{
    height: 170px;
    border-radius: 10px;
    margin: auto;
}

.oppdate{
    margin: 1rem;
    font-size: 13px;
    color: grey;
}

.opptitle{
    font-size: 35px;
    margin: 3rem;
}

.oppdesc{
    font-size: 22px;    
    color: grey;
    margin: 3rem;
    text-align: left;
}

.opp{
    margin: 3rem;
    font-size: 22px;  
    text-align: left;
}


.subopp{
    color: grey;
    margin-top: 1%;
    font-size: 20px;
}

.opp>a{
    color:#fec771;
    text-decoration: none;

}
.opp>a:hover{
    color:rgb(0, 75, 145)
}

.fade-in {
    opacity: 0;
    animation: fade-in-animation 1s ease-in-out forwards;
  }
  
  @keyframes fade-in-animation {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


  
@media screen and (max-width:1000px) {
    .oppinfo{
        width: 80%;
    }
}