.btn{
    font-family: 'Mukta Vaani', sans-serif;
    background-color: #fab342;
    font-size: 20px;
    padding: 3px 4px;
    margin: 3rem auto;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    max-width: max-content;
}

.h5{
    margin: 4rem;
}

.btn>p {
    text-decoration: none;
    color: white;
}

.btn:hover {
  background-color: rgb(255, 255, 255);
  transition: background-color 0.3s ease, color 0.3s ease;
  /* -moz-box-shadow: inset -5px -5px 5px 5px #928f8f;
  -webkit-box-shadow: inset -5px -5px 5px 5px #928f8f; */
  box-shadow:  -3px -3px 3px 3px #928f8f;
}
.btn:hover p {
    color: #fab342;
  }

.btn>a:hover{
    color: #fab342;
}

@media screen and (max-width:711px){
    .h5{
        margin: 2rem 0rem;
    }
}